@font-face{
	font-family: 'hp';
	src: url('../Fonts/10467.ttf') format('woff');
}
*{
	font-family: 'hp', serif;
	margin: 0;
	border: 0;
}
.div-all{
	background-image: url("../img/hgw.jpg");
	background-position: center;
	background-size: cover;
}
.div-line1{
	height: 20vh;
	background-color: #000000;
	opacity: 0.7;
	box-shadow: 0 0 30px grey;
}
.div-line2{
	height: 65vh;
	padding-top: 15vh;
}
.div-logo{
	width: 10vw;
	height: 10vw;
	padding: 10px;
	padding-left: 20px;
	float: left;
}
.bot{
	width: 15vw;
	height: 6vw;
 	background-color: #550055;
 	border: 2px	solid #770077;
 	box-shadow: 0 0 10px #990099;
 	float: left;
 	margin-left: 10px;
 	margin-top: 1.5vw;
 	border-radius: 10%;
 	font-size: 32px;
 	color:#ebd759;
 	transition: all 0.5s ease;
 	text-align: center;
}
.txt{
	text-decoration: none;
	color:#ebd759;
}
.div-txt1{
	width: 76px;
	margin: auto;
	text-align: center;
	margin-top: 1.5vw;
}
.div-txt2{
	width: 52px;
	margin: auto;
	margin-top:1.5vw;
}
.div-txt3{
	width: 112px;
	margin: auto;
	text-align: center;
	margin-top: 0.5vw;
}
.div-txt4{
	width:90px; 
	margin: auto;
	margin-top: 1.5vw;
}
.div-txt5{
	width: 53px;
	margin: auto;
	margin-top: 1.5vw;
}
.bot:hover{
	background-color: #232152;
 	border: 2px	solid #232152;
 	box-shadow: 0 0 10px #232152;
}
.div-hi{
	width: 60%;
	height: 80%;
	margin: auto;
	opacity: 0.5;
	background-color: #33253E;
	border: 1px	solid #ebd759;
 	box-shadow: 0 0 10px #ebd759;
}
.div-text{
	color: #ebd759;
	font-size: 24px;
	text-align: center;
	padding-top: 10%;
}