@font-face{
	font-family: 'hp';
	src: url('../Fonts/10467.ttf') format('woff');
}
*{
	font-family: 'hp', serif;
	margin: 0;
	border: 0;
}
.fon-img{
	background-image: url("../img/hero-fon.jpg");
	background-position: center;
	background-size: cover;
	height: 130vh;
}
.line1{
	height: 19vh;
	min-height: 12vh;
	background-color: #550055;
	opacity: 0.8;
	box-shadow:  0 0 30px #c7b04c;
}
.logo{
	width: 150px;
	height: 150px;
	padding: 10px;
	padding-left: 20px;
	float: left;

}
.blok-hero{
	font-size: 112px;
	color: #ebd759;
	float: left;
	margin: auto;
	margin-left: 10vw;
}	
.txt12{
	font-family: 'hp', serif;

}
.blok-bot{
	width: 8vw;
	height: 4vw;
	background-color: #990900;
	border-radius: 10%;
	float: right;
	text-align: center;
	box-shadow:  0 0 20px #880800;
	margin-top: 1vw;
	padding-bottom: 1.5vw;

}
.href{
	text-decoration: none;
	color: #ebd759;
}
.tvt{
	text-align: center;
	padding-top: 2vw;
}
.blok-bot:hover{
	animation: bottom 4s infinite ease-in-out;
}
@keyframes bottom{
	50%{
	width: 8.2vw;
	height: 4.2vw;
 	background-color: #ff00b3;
 	box-shadow: 0 0 10px ;
	}
}
.line2{
	height: 100vh;
	border: 2px solid;
}
.div-img{
	height: 78vh;
	width: 28vw;
	box-shadow: 0 0 20px #880800;
	margin-top:10vh;
	margin-left: 15vh;
	margin-right: 0;
	border-radius: 15%;
	background-image: url("../img/hero.jpg");
	background-position: center;
	background-size: cover;
	padding-top: 2vw;
	 
}
.txt-all{
	height: 80vh;
	width: 28vw;
	margin-top:10vh;
	float: left;
	margin-left: 15vw;
}
.div-txt1{
	height: 10vh;
	width: 28vw;
	color:  #ebd759;
	background-color: #972B5D;
	border-radius: 30%;
	box-shadow: 0 0 20px #880800;
	font-size: 26px;
	padding-top: 2vw;
	text-align: center;

}
.div-txt2{
	padding: 3vh 2vw;
	height: 54vh;
	width: 24vw;
	clear: both;
	margin-top: 10vh;
	color:  #ebd759;
	background-color: #972B5D;
	border-radius: 15%;
	box-shadow: 0 0 20px #880800;
	font-size: 18px;
	margin-top: 3vw;
	text-align: center;
	

}
